@import "tailwindcss";


@theme {
  --color-primary: #8B5CF6;
  --color-accent: #EC4899;

  --color-bg: #0F0F14;
  --color-surface: #1A1A23; /* cards, modals */
  --color-surface-hover: #23232E; 
  --color-border: #2A2A35;

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A1A1AA;
  --color-text-muted: #71717A;

  --color-success: #22C55E;
  --color-danger: #EF4444;
  --color-warning: #F59E0B;
  --color-dark-bg: #0F0F14;
  --color-dark-text: #E5E5E5; 

}

@layer utilities {
  .bg-brand-gradient {
    background-image: linear-gradient(to right, #8B5CF6, #EC4899);
  }
}


@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
  }
}

::-webkit-scrollbar {
  display: none;
}

@keyframes heartPop {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}